.ChatList-Link {
  width: 355px;
  text-decoration: none;
  color: #114475;
}
.ChatList-Link__active{
    background: #1A69B8;
}
.ChatList-Avatar {
  display: flex;
  align-items: center;
}
.ChatList-MsgsContainer{
 display: flex;
}
.ChatList-Text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ChatList-Item{
  height: 75px;
  padding: 11px 14px;
}

.ChatList-Chat-Wrapper{
  display: flex;
}
 .ChatList-Chat-User {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
 .ChatList-Chat-Time {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }