.ChatHeader{
  display: flex;
  flex-direction: column;
  padding: 10px 210px 13px 211px;
  justify-content: center;
  align-items: center;
  background: #FFF;
  box-shadow: 1px 0px 4px 0px rgba(97, 97, 97, 0.20), 1px 0px 2px 0px rgba(97, 97, 97, 0.20);
}